---
import PageLayout from "../../layouts/PageLayout.astro";
import Artwork from "../../components/Artwork.tsx";
import { Artworks } from "../../lib/artworks.ts";

export function getStaticPaths() {
  return Artworks.map((artwork) => {
    return {
      params: { artwork: artwork.artworkName },
      props: { ...artwork.props },
    };
  });
}

const { artwork } = Astro.params;
const {
  artists,
  aboutArtists,
  medium,
  aboutArtwork,
  artistLinks,
  localImagePaths,
  localAudioPaths,
  youtubeEmbedURLs,
} = Astro.props;
---

<PageLayout title={artwork}>
  <main>
    <Artwork
      artworkName={artwork}
      artists={artists}
      aboutArtists={aboutArtists}
      artistLinks={artistLinks}
      medium={medium}
      aboutArtwork={aboutArtwork}
      localImagePaths={localImagePaths}
      localAudioPaths={localAudioPaths}
      youtubeEmbedURLs={youtubeEmbedURLs}
    />
  </main>
</PageLayout>
